/*  Colors  */
:root {
  --cl1: #1A1A1A;
  --cl2: #99999D;
  --cl3: #AAACB1;
  --bl1: #FFFFFF;
  --bl2: #F0F0F0;
  --bl3: #DDDDDD;

  --cd1: #EEEEEE;
  --cd2: #BDBDBD;
  --cd3: #969696;
  --bd1: #1A1A1A;
  --bd2: #2B2A2A;
  --bd3: #3C3B3B;

  --green:rgb(4, 0, 128);
}


html,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: 'Inter', sans-serif;
  
    
}
body {
  color:var(--cl2);
}

a:focus{
  outline-color:red;
}
[data-theme='dark']a:focus{
  outline-color:red;
}

a {
  color: inherit;
  text-decoration: none;
  
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(219, 219, 219, 0.81);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CA0000;
  background: #848484;
}

.links :hover{
  color:#CA0000;
  text-decoration: underline;
}
::-moz-selection { /* Code for Firefox */
  color: #f0f0f0;
  background: #b40000;
}

 ::selection {
  color: #f0f0f0;
  background: #b40000;
}
/*
[data-theme='dark'] body, .header{
  background-color: #121212;
  color: #EEEEEE;
}
[data-theme='blue'] body, .header{
  background-color: rgb(22, 0, 84);
  color: white;
}
[data-theme='dark'].l{
  color:#EEEEEE;
}
[data-theme='dark'].l1{
  color:#969696;
}

[data-theme='light']a{
  color:#1A1A1A;
  color:green;
}
[data-theme='dark']a{
 color: rgb(157, 157, 157);
 color:blue;   
}*/


[data-theme='dark'] body{
  color:var(--cd2);   
  background-color:var(--bd1);
 }
 
.LinksA{
  color: var(--cl3);
  font-style: italic;
}
.LinksA:hover{
 font-weight: 700;
 color: #CA0000;
}
[data-theme='dark'] .LinksA{
  color:var(--cd3)
}
[data-theme='dark'] .LinksA:hover{
  font-weight: 700;
 color: #CA0000;
}